* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asimovian', Arial, Helvetica, sans-serif;
  background-color:#f78843;
  color: #ffffff;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.date {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffe3c2;
}

.headline-verb {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.verb {
  text-align: center;
  font-weight: bold;
  color: #fff0d1;
}

.dashboard {
  width: 100%;
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 200px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.159);
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0);
}

.color-box {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: #ff7824;
  border-radius: 4px;
}

.bar {
  width: 40%;
  height: 20px;
  margin: 10px 0;
  background: #ffd1a6;
  border-radius: 4px;
}

.wave {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background: linear-gradient(90deg, #ffd453 10%, #ff7b00 90%);
  border-radius: 4px;
}
