* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --card-expanded-height: 140px;
  --card-collapsed-height: 40px;
  --header-shift-up: 100px; 
}

body {
  font-family: 'Noto Sans Display', sans-serif;
  background: radial-gradient(circle at 50% 100%, #1e102b 0%, #2b133b 50%, #3b1b56 100%);
  color: #fff;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  animation: pulse 8s ease-in-out infinite;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  flex-grow: 1; 
  width: 100%;
  position: relative;
  transition: transform 0.4s ease; 
}


.header {
  width: 100%;
  text-align: center;
  z-index: 20;
  margin-bottom: 20px; 
}

.header h1 {
  font-size: 32px;
  letter-spacing: 1px;
}

.headline {
  margin-top: 6px;
  color: #c6b2e0;
  font-size: 16px;
  letter-spacing: 1px;
}

.main-content:hover {
  transform: translateY(calc(-1 * var(--header-shift-up))); 
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
  z-index: 5;
}

.card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  width: 180px;
  height: var(--card-collapsed-height); 
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 1;
  text-align: center;
  padding-top: 10px;
}

.card h2 {
  font-size: 14px;
  color: #c4b1f3;
  transition: opacity 0.3s ease;
}

.card .content {
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.4s ease;
  margin-top: 10px;
  padding: 0 10px;
}


.card:hover {
  height: var(--card-expanded-height);
  transform: translateY(-10px); 
  background: rgba(255, 255, 255, 0.15);
  z-index: 10;
}

.card:hover .content {
  visibility: visible;
  opacity: 1; 
}


.color-temp .chart {
  width: 90%;
  height: 30px;
  background: linear-gradient(90deg, #5d3cbd, #a67cff);
  border-radius: 6px;
  margin: 8px auto; 
  margin-bottom: 8px;
}

.visibility .bar {
  width: 100%;
  height: 10px;
  background: #b993ff;
  border-radius: 6px;
  margin: 10px auto;
}

.volatility .wave {
  width: 90%;
  height: 30px;
  margin-top: 10px;
  margin: 8px auto; 
  background: linear-gradient(90deg, #b993ff 10%, #6e47cf 90%);
  border-radius: 4px;
}