* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
  }
body {
  background: linear-gradient(180deg, #0a0f1a, #0d1623);
  color: #d0dbea; 
  font-family: Arial, sans-serif;
  height: 100vh; 
  position: relative;
}

h1{
  position: absolute; top: 24px; left: 50%;
  transform: translateX(-50%); font-size: 26px;
  letter-spacing: 1px; color: #c6d7f0;
}

.dashboard { 
  position: absolute; 
  inset: 0;  
}
.card {
  position: absolute; 
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  background: rgba(255,255,255,.07);
  border: 1px solid rgba(130,160,200,.18);
  backdrop-filter: blur(2px); 
  display: flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer; 
  transition: all .35s;
}


.card:nth-child(1) { top: 16px; left: 16px; }       
.card:nth-child(2) { top: 16px; right: 16px; }      
.card:nth-child(3) { bottom: 16px; left: 16px; }     
.card:nth-child(4) { bottom: 40px; right: 0px; }    
.card:nth-child(5) { top: 50px; left: 36px; }  
.card:nth-child(6) { bottom: 10px; right: 26px; } 

.card h2 { display: none; }


.card .content {
  display: none; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  font-size: 13px;
}


.card:hover {
  width: 180px; 
  height: 180px; 
  border-radius: 16px;
  background: rgba(255,255,255,.1); 
  backdrop-filter: blur(8px);
  
}

.card:hover h2{
  display: block; 
  position: absolute; 
  top: 12px;
  font-size: 15px; color: #c6d7f0;
}
.card:hover .content { 
  display: flex; 
  margin-top: 36px; 
}

.bar { 
  width: 70%; height: 16px; 
  border-radius: 6px; 
}
.color { 
  background: linear-gradient(90deg, #304f9c, #5980c7, #9cb8ec); 
}
.visibility { 
  background: #7693b4; 
}
.wave { 
  width: 75%; 
  height: 24px; 
  border-radius: 6px; 
  background: linear-gradient(90deg, #6a5ca9, #3c4e92); 
  margin: 0 auto; 
}